<div class="outermost">
  <div class="body-container container-fluid">
    <div class="jumbotron"><div class="signin"><span type="button" ng-click="$ctrl.open('signin')">Sign in</span><span type="button" class="signup" ng-click="$ctrl.open('signup')">Sign up</span><span class="signup" type="button" ng-click="signout()">Sign out</span></div><h1>Movie Mash</h1></div>
    <search search-results="$ctrl.searchResults" add-movie="$ctrl.addMovie" addition="$ctrl.addition"></search>
  <uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" ng-click="active=0" heading="To Watch">
      <div class="order">
        <button class="btn material-icons title-arrow" ng-if="!$ctrl.titleAscend" ng-click="toggleTitleSort()">keyboard_arrow_down</button>
        <button class="btn material-icons title-arrow" ng-if="$ctrl.titleAscend" ng-click="toggleTitleSort()">keyboard_arrow_up</button>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-left" ng-model="allToWatch" ng-repeat="x in allToWatch">
          <svg class="svg-icon trash-icon" viewBox="0 0 20 20" ng-click="trash(x, $index)">
              <path d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"></path>
            </svg><h5 class="movie-title btn" ng-class="x.new" type="button" ng-click="isCollapsed = !isCollapsed">{{x.title}}</h5>
          <span class="text-right" uib-rating ng-model="allToWatch[$index].rating" value="x.rating" max="max" ng-click="rateMovie(x, $index)" on-hover="hoveringOver(value)" on-leave="overStar=null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
            <div uib-collapse="isCollapsed">
              <div class="well well-lg details">
              <div class="review">
                <a href={{x.link}}> {{x.summary}}</a>
              <!--     <div>({{x.year}}) | {{x.runtime}} | {{x.imdb}}</div> -->
              </div>
              <iframe class="embed-responsive-item trailer" ng-src="{{'https://www.youtube.com/embed/' + x.video}}" allowFullScreen width="150" height="100"></iframe>
            </div>
          </div>
        </li>
      </ul>
    </uib-tab>
    <uib-tab index="1" ng-click="active=1" heading="Watched">
      <div class="order">
        <button class="btn material-icons title-arrow" ng-if="!$ctrl.titleAscend" ng-click="toggleTitleSort()">keyboard_arrow_down</button>
        <button class="btn material-icons title-arrow" ng-if="$ctrl.titleAscend" ng-click="toggleTitleSort()">keyboard_arrow_up</button>
        <button class="btn material-icons rating-arrow" ng-if="!$ctrl.ratingAscend" ng-click="toggleRatingSort()">keyboard_arrow_down</button>
        <button class="btn material-icons rating-arrow" ng-if="$ctrl.ratingAscend" ng-click="toggleRatingSort()">keyboard_arrow_up</button>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-left" ng-model="allToWatch" ng-repeat="x in allWatched">
          <svg class="svg-icon trash-icon" viewBox="0 0 20 20" ng-click="trash(x, $index)">
              <path d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"></path>
            </svg><h5 class="movie-title btn" type="button" ng-click="isCollapsed = !isCollapsed">{{x.title}}</h5>
          <span class="text-right" uib-rating ng-model="allWatched[$index].rating" value="x.rating" max="max" ng-click="rateMovie(x, $index)" on-hover="hoveringOver(value)" on-leave="overStar=null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
            <div uib-collapse="isCollapsed">
              <div class="well well-lg details">
                <div class="review">
                <a href={{x.link}}> {{x.summary}}</a>
                <!--     <div>({{x.year}}) | {{x.runtime}} | {{x.imdb}}</div> -->
              </div>
              <iframe class="embed-responsive-item trailer" ng-src="{{'https://www.youtube.com/embed/' + x.video}}" allowFullScreen width="150" height="100"></iframe>
            </div>
          </div>
        </li>
      </ul>
    </uib-tab>
  </uib-tabset>
  </div>
  <signup ng-show="false" />
  <signin ng-show="false" />
</div>


<!--     <ul class="list-group">
      <li class="btn list-group-item" ng-repeat="x in items" ng-click="$ctrl.rate()" data-toggle="popover" title={{$ctrl.popRate}} data-content={{$ctrl.popRemove}}>{{x.title}}</li>
    </ul>
  </div> -->
<!--

      <span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span> -->