



<div class="signup-container" ng-controller="SignupCtrl">
  <svg class="btn close-icon" viewBox="0 0 20 20" ng-click="cancel()">
    <path d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z"></path>
  </svg>
  <div class="md-form signup-input">
    <input class="form-control" id="username" name="username" placeholder="username" data-ng-model="username"/>
    <input class="form-control" id="password" type="password" name="password" placeholder="password" data-ng-model="pass" />
    <div class="alert alert-danger" color="danger" ng-show="passmatch" >Passwords do not match!</div>
    <input class="form-control" type="password" name="confirm" placeholder="confirm password" data-ng-change="checkPasswordsMatch()" data-ng-model="passmatchinput" />
    <button class=" btn btn-primary d-block mx-auto btn-outline-primary" ng-model="passmatch" ng-disabled="incomplete" type="submit" ng-click="submitform()">Sign Up</button>
  </div>
</div>







<!--
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li ng-repeat="item in $ctrl.items">
                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ $ctrl.selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div> -->

